@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap');
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css"); 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fbfbfb;
}

* {
  box-sizing: border-box;
}

main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: left;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 5px;
  flex-basis: 45%;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #edca85;
}

.card h3 {
  margin: 0 0 0 0;
  font-size: 1rem;
  font-weight: bold;
  padding: 7px;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.logo {
  float: left;
  font-size: 2rem;
  font-weight: bolder;
}

.ant-menu{
  background: white;
  font-size: 1rem;
  font-weight: bold;
  float: right;
  }

.ant-layout-header{
  background: white;
}

.ant-btn-primary {
  background-color: #41b3b6;
  border-color: #41b3b6;
}

.topic {
  font-size: 60px;
  font-weight: bold;
}

.banner {
  width: 75%;
  align-self: center;
  margin: auto;
  padding-top: 7rem;
}
.banner-background {
  background-color: black;
  width: 100%;
  height: 92vh;
}
.banner-image {
  margin-top: -20px;
}
.hello {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}
.name {
  font-size: 8rem;
  font-weight: bolder;
  background: linear-gradient(250deg,#a0e9ff 45%,#a162e8 60%,#f093b0 80%,#edca85 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 100%;
  margin-top: 10px;
}
.newbiedev {
  font-size: 3.5rem;
  font-weight: bolder;
  background: linear-gradient(250deg,#a0e9ff 45%,#a162e8 60%,#f093b0 80%,#edca85 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-description {
  font-size: 1.3rem;
  font-weight: normal;
  color:white;
  margin-top: 20px;
}
.text-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
h1 {
	font-size: 2rem;
	font-weight: normal;
	background-color: #fbfbfb;
	color: black;
	display: inline-block;
}
h1:nth-child(2) {
	position: absolute;
	background-color: black;
	color: white;
	clip-path: inset(-1% -1% 50% -1%); // Added the negative values to prevent icky "bleed" in Chrome
}
.marquee{
  display:inline-block;
  position:relative;
  animation:scroll 20s linear infinite; 
  }
  @keyframes scroll{
  0% {left:0px;}
  100% {left:-800px;}
  }

.about {
  width: 80%;
  margin: auto;
  margin-top: -50px;
  align-items: center;
}
.about-background {
  width: 100%;
  height: 100vh;
  padding-top: 150px;
  background-color: #fbfbfb;
}
.about-topic1 {
  font-size: 25px;
  font-weight: bold;
  display: inline;
  text-decoration: underline;
  text-underline-offset: -15px;
  text-decoration-thickness: 0.5em;
  text-decoration-skip-ink: none; 
  text-decoration-color: #f2c94c;
}
.about-topic2 {
  font-size: 25px;
  font-weight: bold;
}
.about-topic {
  font-size: 50px;
  font-weight: bold;
  margin-top: -13px;
}
.about-detail {
  padding-left: 70px;
  padding-top: 30px;
}
.about-description {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}


.project {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects {
  width: 80%;
  margin: auto;
  align-items: center;
  align-self: center;
}
.projects-background {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  background-color: #F3F4EC;
  position: relative;
}
.dot1 {
  position: absolute;
  top: 0px;
  left: 0px;
}
.dot2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.project-detail {
  margin-top: 20px;
  padding-left: 30px;
}
.project-image {
  border-radius: 10px 10px 0px 0px;
}
.card{
  background-color: white;
}
.project-topic {
  font-size: 50px;
  font-weight: bold;
  margin-top: -13px;
}
.project-description {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}
.popout{
	@keyframes ani{
		0%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 lightblue;
		} 
		30%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 #a162e8;
		}
		70%{
			transform: translate3d(0.08em,-0.08em,0);
			text-shadow: -0.08em 0.08em lightblue;
		}
		100%{
			transform: translate3d(0.08em,-0.08em,0);
			text-shadow: -0.08em 0.08em lightblue;
		}
	}
	span{
		position: relative;
		display: inline-block;
		animation: ani 1s infinite alternate cubic-bezier(0.860, 0.000, 0.070, 1.000);
		@for $i from 1 through 3{
			&:nth-last-child(#{$i}n){ animation-delay: -1s*$i/3/2;}
		}
	}
}

.other {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.other {
  width: 80%;
  margin: auto;
  align-items: center;
  align-self: center;
}
.other-background {
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  background-color: #EFEFEF;
  position: relative;
}
.other-topic1 {
  font-size: 23px;
  font-weight: bold;
  display: inline;
  text-decoration: underline;
  text-underline-offset: -15px;
  text-decoration-thickness: 0.5em;
  text-decoration-skip-ink: none; 
  text-decoration-color: #f2c94c;
}
.other-topic {
  font-size: 50px;
  font-weight: bold;
  margin-top: -13px;
}
.other-topic {
  letter-spacing: 0;
  margin-top:10px;
}
div.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.4) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
.other-detail {
  margin-top: 100px;
  padding-left: 30px;
}
.other-description {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

.ant-switch {
  width: 176px;
  height: 88px;
  border-radius: 400px;
}
.ant-switch-handle::before {
  border-radius: 36px;
}
.ant-switch-handle::after{
  margin-right: 50px;
}
.ant-switch-handle {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 72px;
  height: 72px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ant-switch-checked .ant-switch-handle {
  left: calc(100% - 72px - 8px);
}
.ant-switch-checked {
  background-color: #41b3b6;
}

.gallery {
  width: 90%;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  align-self: center;
}
.gallery-background {
  width: 100%;
  height: 100vh;
  background-color: #fbfbfb;
}
.gallery-image {
  border-radius: 20px;
}
.gallery-card {
  border-radius: 20px;
  width: 316px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
.gallery-grid {
  display: inline-block;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.gallery-card-title {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 5px;
}
.gallery-card-description {
  font-size: 14px;
}

.contact {
  background-color: #f2c94c;
  width: 70%;
  height: 500px;
  border-radius: 50px;
  text-align: center;
  margin: auto;
  
}
.contact-background {
  background-color: black;
  width: 100%;
  height: 700px;
  padding-top: 100px;
  position: relative;
}
.contact-image{
  padding-top: 50px;
  padding-left: 50px;
}
.contact-topic {
  font-size: 60px;
  font-weight: bolder;
}
.contact-description {
  font-size: 25px;
  font-weight: normal;
}
.contact-information {
  margin: auto;
  align-items: center;
  align-self: center;
}
.icon {
  background-color: white;
  width: 60px;
  height: 60px;
  align-items: center;
  border-radius: 50px;
  font-size: 40px;
  margin: auto;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}
.ellipse {
  position: absolute;
  top: 30px;
  left: 30px;
  animation-name: example;
  animation-duration: .8s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0%   {left:30px; top:30px;}
  50%  {left:30px; top:40px;}
  100% {left:30px; top:30px;}
}
.star {
  position: absolute;
  bottom: 30px;
  left: 80px;
  animation-name: example2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes example2 {
  0%   { bottom: 30px; left: 80px;}
  50%  {bottom: 25px; left: 75px;}
  100% {bottom: 30px; left: 80px;}
}
.polygon {
  position: absolute;
  top: 10px;
  right: 150px;
  animation-name: example3;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes example3 {
  0%   {top: 10px; right: 150px;}
  50%  {top: 10px; right: 160px;}
  100% {top: 10px; right: 150px;}
}
.rectangle {
  position: absolute;
  bottom: 10px;
  right: 70px;
  animation-name: example4;
  animation-duration: 1s;
  animation-iteration-count:infinite;
}
@keyframes example4 {
  0%   {bottom: 10px; right: 70px;}
  50%  {bottom: 15px; right: 75px;}
  100% {bottom: 10px; right: 70px;}
}

.up {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-color: #edca85;
  color: white;
  text-align: center;
  font-size: 30px;
}

// ------------------------------------------------------------------
// gallery page
.gallery-page {
  background-color: black;
  color: white;
}
.gallerypage-header {
  width: 100%;
  position: relative;
  height:100vh;
 
}
.gallery-main-image {
  opacity: 0.7;
  width:100vw;
}
.gallerypage-overlay {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 0;
  width: 100%;
}
.gallerypage-banner {
  position:relative;
  display: flex;
  flex-direction: column;
}
.gallerypage-title {
  font-size: 120px;
  font-weight: bolder;
  color: white;
  font-family: 'Open Sans' ;
  text-align: center;
}
button.ant-btn.explore {
  margin: auto;
  align-items: center;
  text-align: center;
}
.explore {
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  color: white;
  background-color: rgba(1, 0, 0, 0.2);
  border-color: white;
  border-width: 2px;
  width: 110px;
  height: 40px;
} 
.explore:hover,
.explore:focus,
.explore:active {
  color: #f2c94c;
  border-color: #f2c94c;
  background-color: rgba(1, 0, 0, 0.5);
}

.gallerypage-description {
  font-size: 20px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  z-index: 10;
  position: relative;
}
.gallerypage-description-sub {
  width: 40%;
  margin: auto;
}
.gallerypage-images {
  width: 80%;
  margin: auto;
}
.gallerypage-image {
  padding: 10px 10px 10px 10px;
}
.blur-box {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to bottom, rgba(1,0,0,0), rgba(0,0,0,1));
  position: absolute;
  z-index: 0;
}

// ------------------------------------------------------------------
// other page
.other-page {
  background-color: white;
  color: white;
}
.otherpage-header {
  width: 100%;
  position: relative;
  height:100vh;
}
.other-main-image {
  width:100vw;
}
.otherpage-overlay {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 0;
  width: 100%;
}
.otherpage-banner {
  position:relative;
  display: flex;
  flex-direction: column;
}
.otherpage-title {
  font-size: 70px;
  font-weight: bolder;
  color: white;
  font-family: 'Open Sans' ;
  text-align: center;
}
.otherpage-description {
  font-size: 20px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 70px;
  text-align: center;
  z-index: 10;
  position: relative;
}
.otherpage-images {
  width: 80%;
  margin: auto;
}
.otherpage-image {
  padding: 10px 10px 10px 10px;
}
.contentbox1 {
  width: 70%;
  margin: auto;
  border-radius: 50px;
  background-color: #FBFBFB;
  color: black;
  position: relative;
  z-index: 10;
  margin-bottom: 50px;
  padding-bottom: 30px;
}
.contentbox2 {
  width: 70%;
  margin: auto;
  border-radius: 50px;
  background-color: #EDF1F5;
  color: black;
  position: relative;
  z-index: 10;
  margin-bottom: 50px;
  padding-bottom: 30px;
}
.contentbox3 {
  width: 70%;
  margin: auto;
  border-radius: 50px;
  background-color: #F3F4EC;
  color: black;
  position: relative;
  z-index: 10;
  margin-bottom: 50px;
  padding-bottom: 30px;
}
.contentbox4 {
  width: 70%;
  margin: auto;
  border-radius: 50px;
  background-color: #FBFBFB;
  color: black;
  position: relative;
  z-index: 10;
  margin-bottom: 50px;
  padding-bottom: 30px;
}
.otherpage-card {
  margin: 10px;
  flex-basis: 30%;
  text-align: left;
  color: inherit;
  background-color: white;
  text-decoration: none;
  border: 2px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.otherpage-card:hover,
.otherpage-card:focus,
.otherpage-card:active {
  color: #0070f3;
  border-color: #edca85;
}
.otherpage-card h3 {
  margin: 0 0 0 0;
  font-size: 1rem;
  font-weight: bold;
  padding: 7px;
}
.grid {
  max-width: 900px;
  margin: auto;
  align-items: center;
  text-align: center;
}
.button-chatbot{
  background-color: #41b3b6;
}
.button-science{
  background-color: #E0A390;
}
.button-ads{
  background-color: #FFCC4D;
}
.button-youtube{
  background-color: #8F6FDB;
}
.otherpage-button {
  width: 70px;
  height: 70px;
  border-radius: 500px;;
  border-color:rgba(0, 0, 0, 0);
  color: white;
  font-size: 40px;
}
.button-container {
  margin: auto;
  width: 200px;
  margin-bottom: 20px;
  text-align: center;
}
.button-description {
  font-size: 15px;
  margin-top: 10px;
}
.content-number {
  font-size: 18px;
  font-weight: bold;
  color: gray;
  padding-top: 30px;
  padding-left: 30px;
}
.content-header{
  font-size: 30px;
  font-weight: bolder;
  color: black;
  text-align: center;
}
.content-subheader{
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.content-description{
  font-size: 16px;
  font-weight: normal;
  color: black;
  padding-top: 10px;
  width: 90%;
  margin: auto;
  padding-bottom: 30px;
}
.download-button {
  background-color: #E0A390;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 10px;
}
